*{
text-align: center;
margin-left:  50px;
margin-right: 50px;
font-size: xx-large;

}
Body{
    background-color:#F4F4F4;
    
}
.Attels{
    position: relative;

    
}

.text2{
color: white;
position: absolute;
top: 50%;
    
}
img{
    opacity: 0.3;
}
