*{
    font-family: "Viga";
}
body {
    background-color: #f4f4f4;

    max-width: 600px;
    margin: 10px auto;
  }
  h2 {
    color: #333;
    font-size: xx-large;

  }
  .question {
    margin-bottom: 15px;
    font-size:large;
    
  }
  .atbilde {
    margin-left: 20px;
    border-style: solid;
    border-radius: 16px;
    padding: 10px;

  }
  .result /*Jautājumu skaits tas 5/5*/{ 
    font-weight: bold;
    margin-top: 20px;
  }
  button {
    padding: 10px 10px;
    font-size:large;
    cursor: pointer;
  }
  p{
    font-weight: bold;

  }
